@media (max-width: 991.98px) {
  .sec-1 .titile-1 {
    text-align: center;
    padding-bottom: 5px;
  }
  .sec-1 .title-3 {
    text-align: center;
    padding-bottom: 30px;
  }
  .sec-1 .icon-section {
    justify-content: center;
  }
  .sec-1 .hero-main-image {
    width: 100%;
    height: auto;
    padding-top: 30px;
  }
  .sec-1 {
    padding: 150px 0px 50px 0px;
  }
  .sec-2 .video-section {
    padding: 50px 50px;
  }
  .sec-2 .background-left {
    position: absolute;
    width: 235px;
    height: auto;
    z-index: -10;
  }
  .sec-2 .background-right {
    position: absolute;
    width: 235px;
    height: auto;
    z-index: -10;
  }
  .sec-3 {
    padding: 50px 0px;
  }
  .sec-3 .des {
    padding-bottom: 60px;
  }
  .sec-4 .card-right {
    padding-top: 30px;
  }
  .sec-4 {
    padding: 50px 0px;
  }
  .sec-4 .middle-card {
    padding: 50px 0px;
    border-radius: 10px;
    background: linear-gradient(101deg, #000 69.46%, #666 99.01%);
  }
  .sec-5 .title-2 {
    text-align: center;
  }
  .sec-5 .title-1 {
    text-align: center;
  }
  .sec-5 .title-3 {
    text-align: center;
  }
  .sec-5 .des {
    text-align: center;
  }
  .sec-5 {
    padding: 50px 0px;
  }
  .sec-5 .icon-section {
    justify-content: center;
  }
  .sec-5 .gif-wrap img {
    padding-top: 30px;
    width: 100%;
  }
  .sec-6 .bg-dark {
    padding: 50px 0px;
    height: 389px;
  }
  .sec-6 .title-1 {
    padding-bottom: 10px;
  }
  .sec-6 .des {
    padding-bottom: 30px;
  }
  .sec-6 .card {
    height: 300px;
  }
  .sec-8 {
    padding: 0px 0px;
  }
  .sec-8 .title-1 {
    text-align: center;
  }
  .sec-8 .des {
    text-align: center;
  }
  .sec-8 .img-warp img {
    padding-top: 30px;
  }
  .sec-footer .footer-des {
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center !important;
  }
  .sec-2 .c-video {
    width: 400px;
  }
  .sec-9 .title-1 {
    text-align: center;
    padding-bottom: 10px;
  }
  .sec-9 .des {
    text-align: center;
    padding-bottom: 20px;
  }
  .sec-9 .btn-wrap-learn-more {
    justify-content: center;
  }
  .sec-9 .icon-section {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .sec-9 {
    padding: 120px 0px 30px 0px;
  }
  .sec-10 .title-1 {
    padding-bottom: 10px;
  }
  .sec-10 .des {
    padding-bottom: 60px;
  }
  .sec-10 .top-title {
    padding-bottom: 14px;
  }
  .sec-10 .title {
    padding-bottom: 20px;
  }
  .sec-11 .card-titile {
    font-size: 16px;
    line-height: 16px;
  }
  .sec-11 .card-des {
    color: #cccbcb;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  .search-bar-wrap {
    justify-content: center;
  }
  .sec-13 .c-button {
    display: flex;
    padding: 12px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
  .sec-14 .title {
    text-align: center;
    padding-bottom: 10px;
  }
  .sec-14 .des {
    padding-bottom: 20px;
    text-align: center;
  }
  .sec-14 .img-wrap {
    display: flex;
    justify-content: center;
  }
  .sec-14 .contact-form-title {
    text-align: center;
    padding-bottom: 40px;
  }
  .sec-15 .title {
    text-align: center;
    padding-bottom: 20px;
  }
  .sec-15 .des {
    text-align: center;
    padding-bottom: 20px;
  }
  /* contact form */
  .sec-14 .forminput {
    width: 475px !important;
  }
  .sec-14 .forminputtext {
    width: 475px !important;
  }
  .sec-14 .formdrown {
    width: 475px !important;
  }
  .sec-14 .file-upload-wrap {
    width: 475px !important;
  }
  .wpcf7-form-control.wpcf7-radio .wpcf7-list-item-label {
    width: 150px !important;
  }
  .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
    background: #add8e6 !important;
  }
}
